R/flureeSetup.R
node_modules
.Rproj.user
.Rhistory
.Rbuildignore
*.json
*.Rproj
.DS_Store
temp.js
.RData

#html
rdf_graph.html

# data
data/

# Build artifacts
*.tar.gz
*.Rcheck/
.positai
.httr-oauth
